<%- include('../partials/header') %>

<h2>Pokedex</h2>

<ul>
    <% pokemon.forEach(function(pokemon) { %>
        <li>
            <a href="/pokemon/<%= pokemon.name %>">
                <%= pokemon.name %>
            </a>
        </li>
        <% }); %>
</ul>

<%- include('../partials/footer') %>